.cardBox {
  display: flex;
  justify-content: center;
  align-items: stretch;
}


.loginBox {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

.userForm {
  display: flex;
  justify-content: center;
}